/* About me section */
.jumbotron {
  background-color: #f3f;
  margin-bottom: 0;
}

.lead {
  color: #030404;
}
/* ends--About me section */

/* Projects section */
#projects {
  background-color: #3c3c3c;
}

.text-white {
  color: #fafafa !important;
}

.card {
  border:5px solid #fafafa;
  background-color: #fafafa;
}

.card-body {
  border-top: 1px solid #808080;
}

.card-title {
  color: #212529;
}

.card-subtitle {
  color: #474f58;
}

.btn-primary {
  background-color: #0053ae;
  border-color: #0053ae;
}

.btn-primary:focus {
  box-shadow: none;
}

a.btn.btn-primary {
  color: #fafafa;
  text-decoration: none;
}

a:hover.btn.btn-primary {
  background-color: #003b7b;
  border-color: #003b7b;
}

a:link {
  color: #0053ae;
  text-decoration: underline;
}

a:visited {
  color: #0053ae;
}

a:hover {
  color: #4409a4;
  text-decoration: none;
}
/* ends--Projects section */

/* Tools section */
#tools {
  background-color: #fafafa;
}
/* ends--Tools section */

/* Contacts section */
#contacts {
  background-color: #f3f;
}

.icons {
  color: #333;
}

.icons:hover {
  color: #3f3;
}
/* ends--Contacts section */
